# Python environments
venv/
env/
.venv/

# Secrets
.env

# Generated data/artifacts
data/
*/data/
*.csv
*.json
*.log

# Legacy Code
legacy_extension/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Model artifacts
models/
*.pth
*.h5

# OS files
.DS_Store

# Process & Temp Files
post_training_roadmap.md
tiki_urls*.txt
*.pdf
archive_raw_data/