# Data processing
pandas
numpy
openpyxl

# Crawler
selenium
webdriver-manager
beautifulsoup4
requests

# AI & NLP
torch
transformers
scikit-learn
underthesea
accelerate

# API Backend
fastapi
uvicorn
pydantic
python-dotenv

# External APIs (LLM & Search)
google-genai
openai
ddgs
duckduckgo-search